<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Page - exported project</title>
    <meta property="og:title" content="Page - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./page.css" rel="stylesheet" />

      <div class="page-container">
        <div class="page-content-n-f-ts-screen-desktop">
          <div class="page-frame250">
            <img
              alt="Line2I1994"
              src="public/playground_assets/line2i1994-z92i.svg"
              class="page-line2"
            />
            <div class="page-frame247">
              <div class="page-tabs">
                <div class="page-tab">
                  <span class="page-text H5-WorkSans"><span>NFTs</span></span>
                  <div class="page-frame81">
                    <span class="page-text002 Base(Body)-SpaceMono">
                      <span>302</span>
                    </span>
                  </div>
                </div>
                <div class="page-tab1">
                  <span class="page-text004 H5-WorkSans">
                    <span>Collections</span>
                  </span>
                  <div class="page-frame811">
                    <span class="page-text006 Base(Body)-SpaceMono">
                      <span>67</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-n-f-t-cards-section">
            <div class="page-n-f-t-cards-row">
              <div class="page-n-f-t-card">
                <div class="page-image">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/4dab870e-f299-4372-a5bb-5c42b9ead9d7?org_if_sml=1168679"
                    class="page-image-placeholder"
                  />
                </div>
                <div class="page-n-f-t-info">
                  <div class="page-artst-info">
                    <span class="page-text008">${'title-1'}</span>
                    <div class="page-artist-avatar-name">
                      <div class="page-avatar">
                        <div class="page-asset122">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/40f46152-8547-484a-976a-b303f8ce5249?org_if_sml=11676"
                            class="page-avatar-placeholder"
                          />
                        </div>
                      </div>
                      <span class="page-text009">${'name-1'}</span>
                    </div>
                  </div>
                  <div class="page-additional-info">
                    <div class="page-price">
                      <span class="page-text010 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text012 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid">
                      <span class="page-text014 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text016 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card01">
                <div class="page-image01">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/18e3975e-fd0e-4ffc-826a-925e93970e68?org_if_sml=1165983"
                    class="page-image-placeholder01"
                  />
                </div>
                <div class="page-n-f-t-info01">
                  <div class="page-artst-info01">
                    <span class="page-text018">${'title-2'}</span>
                    <div class="page-artist-avatar-name01">
                      <div class="page-avatar01">
                        <div class="page-asset12201">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/5be0a08c-89d1-4eb2-94f7-c55c52a14e3f?org_if_sml=11694"
                            class="page-avatar-placeholder01"
                          />
                        </div>
                      </div>
                      <span class="page-text019">${'name-2'}</span>
                    </div>
                  </div>
                  <div class="page-additional-info01">
                    <div class="page-price01">
                      <span class="page-text020 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text022 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid01">
                      <span class="page-text024 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text026 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card02">
                <div class="page-image02">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/be87a9c7-bc32-4812-a2b5-dc8c30019678?org_if_sml=1163438"
                    class="page-image-placeholder02"
                  />
                </div>
                <div class="page-n-f-t-info02">
                  <div class="page-artst-info02">
                    <span class="page-text028 H5-WorkSans">${'title-3'}</span>
                    <div class="page-artist-avatar-name02">
                      <div class="page-avatar02">
                        <div class="page-asset12202">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/5c2d20d5-4477-4928-927e-5f6548524751?org_if_sml=11837"
                            class="page-avatar-placeholder02"
                          />
                        </div>
                      </div>
                      <span class="page-text029 Base(Body)-SpaceMono">
                        ${'name-3'}
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info02">
                    <div class="page-price02">
                      <span class="page-text030 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text032 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid02">
                      <span class="page-text034 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text036 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-n-f-t-cards-row1">
              <div class="page-n-f-t-card03">
                <div class="page-image03">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/3a972a83-7670-47a2-ac0b-ecde70f0cfde?org_if_sml=1168679"
                    class="page-image-placeholder03"
                  />
                </div>
                <div class="page-n-f-t-info03">
                  <div class="page-artst-info03">
                    <span class="page-text038 H5-WorkSans">
                      <span>Distant Galaxy</span>
                    </span>
                    <div class="page-artist-avatar-name03">
                      <div class="page-avatar03">
                        <div class="page-asset12203">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/6fa5dce8-4c2f-4300-89e4-6c8e6403cb55?org_if_sml=11676"
                            class="page-avatar-placeholder03"
                          />
                        </div>
                      </div>
                      <span class="page-text040 Base(Body)-SpaceMono">
                        <span>MoonDancer</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info03">
                    <div class="page-price03">
                      <span class="page-text042 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text044 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid03">
                      <span class="page-text046 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text048 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card04">
                <div class="page-image04">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/cec74043-9e40-4d83-955e-d7f9b6f079c0?org_if_sml=1165983"
                    class="page-image-placeholder04"
                  />
                </div>
                <div class="page-n-f-t-info04">
                  <div class="page-artst-info04">
                    <span class="page-text050 H5-WorkSans">
                      <span>Life On Edena</span>
                    </span>
                    <div class="page-artist-avatar-name04">
                      <div class="page-avatar04">
                        <div class="page-asset12204">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/cf01d441-ac83-48b8-ac86-bcd35be20364?org_if_sml=11694"
                            class="page-avatar-placeholder04"
                          />
                        </div>
                      </div>
                      <span class="page-text052 Base(Body)-SpaceMono">
                        <span>NebulaKid</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info04">
                    <div class="page-price04">
                      <span class="page-text054 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text056 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid04">
                      <span class="page-text058 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text060 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card05">
                <div class="page-image05">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/33f577f8-54bc-401a-903f-22fa25033ee2?org_if_sml=1163438"
                    class="page-image-placeholder05"
                  />
                </div>
                <div class="page-n-f-t-info05">
                  <div class="page-artst-info05">
                    <span class="page-text062 H5-WorkSans">
                      <span>AstroFiction</span>
                    </span>
                    <div class="page-artist-avatar-name05">
                      <div class="page-avatar05">
                        <div class="page-asset12205">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/bc6bfe1d-d79f-4834-b745-490316464e2c?org_if_sml=11837"
                            class="page-avatar-placeholder05"
                          />
                        </div>
                      </div>
                      <span class="page-text064 Base(Body)-SpaceMono">
                        <span>Spaceone</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info05">
                    <div class="page-price05">
                      <span class="page-text066 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text068 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid05">
                      <span class="page-text070 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text072 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-n-f-t-cards-row2">
              <div class="page-n-f-t-card06">
                <div class="page-image06">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/8d80bb1e-1add-4ae2-bbf3-84dad71faed6?org_if_sml=1168679"
                    class="page-image-placeholder06"
                  />
                </div>
                <div class="page-n-f-t-info06">
                  <div class="page-artst-info06">
                    <span class="page-text074 H5-WorkSans">
                      <span>Distant Galaxy</span>
                    </span>
                    <div class="page-artist-avatar-name06">
                      <div class="page-avatar06">
                        <div class="page-asset12206">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/8a2fc83e-dfaf-4c02-b6f0-5279c6e34d8c?org_if_sml=11676"
                            class="page-avatar-placeholder06"
                          />
                        </div>
                      </div>
                      <span class="page-text076 Base(Body)-SpaceMono">
                        <span>MoonDancer</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info06">
                    <div class="page-price06">
                      <span class="page-text078 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text080 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid06">
                      <span class="page-text082 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text084 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card07">
                <div class="page-image07">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/df4e4f92-08f3-4d2e-89d5-e6c306160269?org_if_sml=1165983"
                    class="page-image-placeholder07"
                  />
                </div>
                <div class="page-n-f-t-info07">
                  <div class="page-artst-info07">
                    <span class="page-text086 H5-WorkSans">
                      <span>Life On Edena</span>
                    </span>
                    <div class="page-artist-avatar-name07">
                      <div class="page-avatar07">
                        <div class="page-asset12207">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/da570764-fae9-471c-98b2-1c14ecf3e2fe?org_if_sml=11694"
                            class="page-avatar-placeholder07"
                          />
                        </div>
                      </div>
                      <span class="page-text088 Base(Body)-SpaceMono">
                        <span>NebulaKid</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info07">
                    <div class="page-price07">
                      <span class="page-text090 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text092 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid07">
                      <span class="page-text094 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text096 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card08">
                <div class="page-image08">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/12834493-d303-4941-a8c6-4b703876950f?org_if_sml=1163438"
                    class="page-image-placeholder08"
                  />
                </div>
                <div class="page-n-f-t-info08">
                  <div class="page-artst-info08">
                    <span class="page-text098 H5-WorkSans">
                      <span>AstroFiction</span>
                    </span>
                    <div class="page-artist-avatar-name08">
                      <div class="page-avatar08">
                        <div class="page-asset12208">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/d9048ce0-ea45-430a-899f-3340bf58cc9e?org_if_sml=11837"
                            class="page-avatar-placeholder08"
                          />
                        </div>
                      </div>
                      <span class="page-text100 Base(Body)-SpaceMono">
                        <span>Spaceone</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info08">
                    <div class="page-price08">
                      <span class="page-text102 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text104 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid08">
                      <span class="page-text106 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text108 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-n-f-t-cards-row3">
              <div class="page-n-f-t-card09">
                <div class="page-image09">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/c367305e-656a-429a-ac47-8add9ae2eb53?org_if_sml=1168679"
                    class="page-image-placeholder09"
                  />
                </div>
                <div class="page-n-f-t-info09">
                  <div class="page-artst-info09">
                    <span class="page-text110 H5-WorkSans">
                      <span>Distant Galaxy</span>
                    </span>
                    <div class="page-artist-avatar-name09">
                      <div class="page-avatar09">
                        <div class="page-asset12209">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/03800f47-4f8c-43b1-82a4-2d4ca7cb9542?org_if_sml=11676"
                            class="page-avatar-placeholder09"
                          />
                        </div>
                      </div>
                      <span class="page-text112 Base(Body)-SpaceMono">
                        <span>MoonDancer</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info09">
                    <div class="page-price09">
                      <span class="page-text114 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text116 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid09">
                      <span class="page-text118 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text120 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card10">
                <div class="page-image10">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/aa625075-b769-420f-90a3-ed4af43c533f?org_if_sml=1165983"
                    class="page-image-placeholder10"
                  />
                </div>
                <div class="page-n-f-t-info10">
                  <div class="page-artst-info10">
                    <span class="page-text122 H5-WorkSans">
                      <span>Life On Edena</span>
                    </span>
                    <div class="page-artist-avatar-name10">
                      <div class="page-avatar10">
                        <div class="page-asset12210">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/fa9e69c1-a08c-4b66-940b-6c8dfc34802f?org_if_sml=11694"
                            class="page-avatar-placeholder10"
                          />
                        </div>
                      </div>
                      <span class="page-text124 Base(Body)-SpaceMono">
                        <span>NebulaKid</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info10">
                    <div class="page-price10">
                      <span class="page-text126 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text128 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid10">
                      <span class="page-text130 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text132 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-n-f-t-card11">
                <div class="page-image11">
                  <img
                    alt="ImagePlaceholderI1991"
                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/a67f0b20-c770-497e-8131-c547c866e1d4?org_if_sml=1163438"
                    class="page-image-placeholder11"
                  />
                </div>
                <div class="page-n-f-t-info11">
                  <div class="page-artst-info11">
                    <span class="page-text134 H5-WorkSans">
                      <span>AstroFiction</span>
                    </span>
                    <div class="page-artist-avatar-name11">
                      <div class="page-avatar11">
                        <div class="page-asset12211">
                          <img
                            alt="AvatarPlaceholderI1991"
                            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/ea96045d-6fd7-4fee-9c62-6547a7b830a7/ea31b085-9faf-4622-aedc-4f404a5b5e5e?org_if_sml=11837"
                            class="page-avatar-placeholder11"
                          />
                        </div>
                      </div>
                      <span class="page-text136 Base(Body)-SpaceMono">
                        <span>Spaceone</span>
                      </span>
                    </div>
                  </div>
                  <div class="page-additional-info11">
                    <div class="page-price11">
                      <span class="page-text138 Caption-SpaceMono">
                        <span>Price</span>
                      </span>
                      <span class="page-text140 Base(Body)-SpaceMono">
                        <span>1.63 ETH</span>
                      </span>
                    </div>
                    <div class="page-highest-bid11">
                      <span class="page-text142 Caption-SpaceMono">
                        <span>Highest Bid</span>
                      </span>
                      <span class="page-text144 Base(Body)-SpaceMono">
                        <span>0.33 wETH</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
